body{
  max-width: 25%;
  font-family: 'Lato', sans-serif;
  margin: auto;
  /*background-image: url('az_subtle.png'); */
}

h1{
  font-size: 2em;
  padding: 2%;
}

form{
  color: orange;
  background-color: #eee;
}

fieldset{
  padding: 1%;
  margin-top: 1%;
  border: #eee 1px solid;
}

input{
  margin: 2%;
  margin-left: 0;
  display: block;
  margin-top: 0;
}

legend{
  font-size: 1.5em;
  padding: 2%;
}

span{
  display: block;
}

#small{
  font-size: 11px;
  padding: 0;
  margin: 0;
}

#submit{
  margin: 2%;
  padding: 2%;
  background-color: orange;
  color: #eee;
  border-radius: 4px;
  border: none;
}
